Repository tunnelvisionlabs/java-immutable: changes, and which Codecov flags are due for each by the changed paths.
All: production, test

.codecov.yml:

# https://docs.codecov.io/docs/codecov-yaml
# https://github.com/codecov/support/wiki/Codecov-Yaml

codecov:
  ui:
    # hide cyclomatic complexity in the UI and pull request comments
    hide_complexity: true

coverage:
  status:
    project:
      default:
        # only report project commit status for pull requests
        only_pulls: true
    patch:
      default:
        # only report patch commit status for pull requests
        only_pulls: true

flags:
  production:
    paths:
      - src/
  test:
    paths:
      - test/

Rename enqueue/dequeue to add/poll
  src/com/tvl/util/ImmutableLinkedQueue.java
  src/com/tvl/util/ImmutableQueue.java
  test/com/tvl/util/ImmutableLinkedQueueTest.java
Due: production, test

Add API mapping for ImmutableQueue
  API.md
Due: none

Implement ImmutableAtomic
  API.md
  pom.xml
  src/com/tvl/util/ImmutableAtomic.java
  test/com/tvl/util/ImmutableAtomicTest.java
Due: production, test

Remove unnecessary ImmutableAtomic methods
  API.md
  src/com/tvl/util/ImmutableAtomic.java
  test/com/tvl/util/ImmutableAtomicTest.java
Due: production, test

Add AtomicReferenceFieldUpdater overloads to ImmutableAtomic
  src/com/tvl/util/ImmutableAtomic.java
  test/com/tvl/util/ImmutableAtomicUpdaterTest.java
Due: production, test

Don't include a space after a cast operator
  nb-configuration.xml
Due: none

Updated code formatting
  nb-configuration.xml
  src/com/tvl/util/ImmutableArrayList.java
  src/com/tvl/util/ImmutableHashMap.java
  test/com/tvl/util/ImmutableArrayBuilderTest.java
  test/com/tvl/util/ImmutableArrayTest.java
  test/com/tvl/util/ImmutableLinkedQueueTest.java
  test/com/tvl/util/ImmutableLinkedStackTest.java
  test/com/tvl/util/ImmutableListTest.java
  test/com/tvl/util/ImmutablesTestBase.java
Due: production, test

Fix the order of compareAndSet arguments to match Java conventions
  API.md
  src/com/tvl/util/ImmutableAtomic.java
  test/com/tvl/util/ImmutableAtomicTest.java
  test/com/tvl/util/ImmutableAtomicUpdaterTest.java
Due: production, test

Implement ImmutableTreeSet
  API.md
  src/com/tvl/util/ImmutableSet.java
  src/com/tvl/util/ImmutableTreeList.java
  src/com/tvl/util/ImmutableTreeSet.java
  src/com/tvl/util/Immutables.java
  test/com/tvl/util/ImmutableSetTest.java
  test/com/tvl/util/ImmutableTreeSetBuilderTest.java
  test/com/tvl/util/ImmutableTreeSetTest.java
  test/com/tvl/util/Tuple3.java
Due: production, test

Consistency updates for findLastIndex APIs
  API.md
  src/com/tvl/util/ImmutableListQueries.java
  src/com/tvl/util/ImmutableTreeList.java
  test/com/tvl/util/ImmutableListTestBase.java
Due: production, test

Updated findLast API
  API.md
  src/com/tvl/util/ImmutableTreeList.java
Due: production

Add Nonnull, Nullable, and CheckReturnValue annotations
  pom.xml
  src/com/tvl/util/AbstractImmutableList.java
  src/com/tvl/util/BinaryTree.java
  src/com/tvl/util/Comparators.java
  src/com/tvl/util/EqualityComparator.java
  src/com/tvl/util/EqualityComparators.java
  src/com/tvl/util/HashKeyCollection.java
  src/com/tvl/util/ImmutableArrayList.java
  src/com/tvl/util/ImmutableAtomic.java
  src/com/tvl/util/ImmutableHashMap.java
  src/com/tvl/util/ImmutableLinkedQueue.java
  src/com/tvl/util/ImmutableLinkedStack.java
  src/com/tvl/util/ImmutableList.java
  src/com/tvl/util/ImmutableListQueries.java
  src/com/tvl/util/ImmutableMap.java
  src/com/tvl/util/ImmutableQueue.java
  src/com/tvl/util/ImmutableSet.java
  src/com/tvl/util/ImmutableStack.java
  src/com/tvl/util/ImmutableTreeList.java
  src/com/tvl/util/ImmutableTreeSet.java
  src/com/tvl/util/Immutables.java
  src/com/tvl/util/KeyValuePair.java
  src/com/tvl/util/ReadOnlyMap.java
  src/com/tvl/util/Requires.java
  src/com/tvl/util/SortKeyCollection.java
  src/com/tvl/util/SortedIntegerKeyNode.java
Due: production

Implement ImmutableHashSet<T>
  src/com/tvl/util/ImmutableHashSet.java
  src/com/tvl/util/Immutables.java
  src/com/tvl/util/StrongBox.java
Due: production

Add tests for ImmutableHashSet.Builder<T>
  src/com/tvl/util/ImmutableHashSet.java
  test/com/tvl/util/ImmutableHashSetBuilderTest.java
Due: production, test

Add tests for ImmutableHashSet<T>
  test/com/tvl/util/ImmutableHashSetTest.java
  test/com/tvl/util/ImmutableSetTest.java
Due: test
